.flex-col {
  flex-direction: column;
}

.accent-text {
  color: var(--global-color-gold);
}

.text-uppercase {
  text-transform: uppercase;
}

section{
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 64px 24px;
  width: 100%;
}

.width-25{
  max-width: 25%;
}

.width-45{
  max-width: 45%;
}

.width-75{
  max-width:75%;
  flex-wrap: wrap;
}

.width-full{
  min-width:100%;
}

.flex-wrap{
  flex-wrap:wrap ;
}

.align-center{
  align-content: center;
}

.full-vh{
  min-height: calc(100vh - 100px);
  box-sizing: border-box;
}
.gap-row-12{
  row-gap: 12px;
}

.unstyled-list{
  list-style: none;
}
