.nav-container {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  height: var(--global-header-max-height);
  max-height:var(--global-header-max-height);;
  align-items: center;

  .nav-logo-container {
    max-width: 30%;
    align-items: center;
    .logo {
      width: 75px;
      height: 75px;
      background: var(--global-color-grey);
      border-radius: 100%;
      
    }
    span{
        padding-left:14px;
    }
  }

  .nav-menu-container {
    max-width: 30%;
    justify-content: end;
    column-gap: 64px;

    a{
      padding: 16px 32px;
      font-size: 21px;
      color:var(--global-color-grey);
    }

    a:link{
      text-decoration: none;
    }

    a:visited{
      color:inherit;
    }

    a:hover{
      color:inherit
    }

    a:active{
      color:inherit
    }

  }
}
