.nav-container {
  display: flex;
  flex: 1;
  width: 1300px;
  flex-direction: row;
  justify-content: space-between;
  height: var(--global-header-max-height);
  max-height:var(--global-header-max-height);
  align-items: center;
  position: fixed;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  .nav-logo-container {
    max-width: 30%;
    align-items: center;
    .logo {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      
    }
    span{
        padding-left:14px;
    }
  }

  .nav-menu-container {
    max-width: 30%;
    justify-content: end;
    column-gap: 64px;

    .nav-menu-button{
      .btn-icon{
        order:-1;
      }
      .btn-text{
        font-size:16px;
      }
    }

    a{
      padding: 16px 32px;
      font-size: 21px;
      color:var(--global-color-grey);
    }

    a:link{
      text-decoration: none;
    }

    a:visited{
      color:inherit;
    }

    a:hover{
      color:inherit
    }

    a:active{
      color:inherit
    }

  

  }
}
