/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

/** Place Styling below this line **/

html{
  font-family: sans-serif;
}

div {
  display: flex;
  flex: 1;
}
.app-container {
  height: 100vh;
  flex-direction: column;
}
.app-body {
  /* min-height: 100%; */
  flex-direction: row;
  flex: 1;
}

.portfolio-image{
  flex:1;
  background-image: url(../images/ProfileImage.png);
}

.app-content {
  border-top: 2px solid #e2e2e2;
  justify-content: center;
  flex-direction: column;
  padding-left: 10%;
}
.bullet-row {
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 60px;
  width: 50%;
  margin: 15px 0px;
}
.bullet-container {
  width: 185px;
  max-height: 50px;
}
.bullet-image {
  display: block;
  max-width: 50px;
  height: 50px;
  border-radius: 4px;
  border:solid 1px black;
}

.bullet-text {
  display: flex;
  justify-content: center;
  height: max-content;
  margin: auto 0;
  margin-left: 15px;
}

.introduction {
  font-size: 42px;
}

.bio {
  margin: 15px 0px 35px 0px;
}

.app-navigation{
  max-height:85px;
  width:100vw;
  background: white;
}