/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

/** Global Variables **/

:root {
  --main-accent-color: #edb131;
  --green-accent-color: #8fbc94;
  --blue-accent-color: #95a4db;
  --border-color: #e2e2e2;
}

/** Place Styling below this line **/

html {
  font-family: "arboria", sans-serif;
  font-weight: 400;
  font-style: normal;
}

div {
  display: flex;
  flex: 1;
}

.app-container {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.app-body {
  flex-direction: row;
  flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}

.portfolio-image {
  box-sizing: border-box;
  background-image: url(../images/ProfileImage.png);
  background-size: cover; /* Ensure the image covers the container */
  background-position: center; /* Center the image within the container */
  flex: 0 0 45%; /* Let the image grow or shrink if necessary */
}

.app-content {
  box-sizing: border-box;
  border-top: 2px solid var(--border-color);
  justify-content: center;
  flex-direction: column;
  padding: 0 15%;
  flex: 1 0 55%;
}

.bullet-row {
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 60px;

  margin: 15px 0px;
}

.bullet-container {
  max-height: 50px;
}

.bullet-image {
  display: block;
  max-width: 50px;
  height: 50px;
  border-radius: 4px;
  border: solid 1px var(--border-color);
}

.bullet-text {
  display: flex;
  justify-content: center;
  height: max-content;
  margin: auto 0;
  margin-left: 15px;
}

.pill-container {
  flex-direction: row;
  flex: 0 0;
  flex-wrap: wrap-reverse;
}

.pill-header {
  width: max-content;
  padding: 1% 2.5%;
  border-radius: 100px;
  text-align: center;
  margin: 0% 2% 2% 0%;
}

.pill-header.web-dev {
  background-color: var(--main-accent-color);
}

.pill-header.graphic-designer {
  background-color: var(--green-accent-color);
}

.pill-header.ui-ux {
  background-color: var(--blue-accent-color);
}

.pill-text {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin:0 auto;
}

.introduction {
  font-size: 42px;
  font-family: "arboria", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bio {
  margin: 15px 0px 35px 0px;
}

.app-navigation {
  max-height: 85px;
  width: 100vw;
  background: white;
}
