:root{

    /* Global Colors */
    --global-color-grey: #ECECEC;
    --global-color-slate: #35373F;
    --global-color-black:#0C0C0C;
    --global-color-purple: #413166;
    --global-color-white: #F8FDFF;
    --global-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.12);

    /* TutorLink Colors */
    --tutorlink-color-blue:#44B3DA;
    --tutorlink-color-green:#80C33A;
    --tutorlink-color-orange:#F78A10;
    --tutorlink-color-red:#EB2057;

    /* Integer Variables */
    --global-header-max-height:100px;
}