:root{

    /* Global Colors */
    --global-color-grey: #707070;
    --global-color-slate: #444444;
    --global-color-gold: #EDB131;
    --global-color-black:#1B1212;

    /* Integer Variables */
    --global-header-max-height:100px;
}